@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    .bg-custom-pattern-light {
        position: relative;
        overflow: hidden;
        background-color: #F1EFF5;
        z-index: 1;
    }

    .bg-custom-pattern-light::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 150vw;
        height: 100vw;
        border-radius: 50%;
        background: #600460;
        top: -160vh;
        left: -25vw;
    }

    .bg-custom-pattern-dark {
        position: relative;
        overflow: hidden;
        background-color: #2B2A2C;
        z-index: 1;
    }

    .bg-custom-pattern-dark::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 150vw;
        height: 100vw;
        border-radius: 50%;
        background: #600460;
        top: -160vh;
        left: -25vw;
    }
}